#bcv_wrapper {
  position: relative;
  height: 500px;
  overflow: scroll;
  clear: both;
}

#bcv_content {
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  padding: 10px;
}

@media (min-width: 992px){
.pt-cv-colsys [data-cvc="11"] .col-md-1:nth-child(11n+1), .pt-cv-colsys [data-cvc="12"] .col-md-1:nth-child(12n+1), .pt-cv-colsys [data-cvc="2"] .col-md-6:nth-child(2n+1), .pt-cv-colsys [data-cvc="3"] .col-md-4:nth-child(3n+1), .pt-cv-colsys [data-cvc="4"] .col-md-3:nth-child(4n+1), .pt-cv-colsys [data-cvc="5"] .col-md-2:nth-child(5n+1), .pt-cv-colsys [data-cvc="6"] .col-md-2:nth-child(6n+1), .pt-cv-colsys [data-cvc="7"] .col-md-1:nth-child(7n+1), .pt-cv-colsys [data-cvc="8"] .col-md-1:nth-child(8n+1), .pt-cv-colsys [data-cvc="9"] .col-md-1:nth-child(9n+1), .pt-cv-colsys [data-cvc="10"] .col-md-1:nth-child(10n+1) {
    clear: both !important;
}
}